<!-- This file is part of the View. It handles UI/UX concerns (layout and display)-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <link rel="stylesheet" href="/css/jass.css">

  <script src="https://www.wpromotions.eu/confetti.min.js"></script>
  <title>BINGO!</title>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>ZOOM BINGO</h1>
    </header>
      <main class="container container-fluid mt-5">
     {{{ body }}}
      </main>
  </div>
  <script src="/js/script.js"></script>
  </body>

</html>