body {
    background-color: 388087;
}

header h1 {
    text-align: center;
    font-style: bold;
    font-size: 60px;
    text-decoration: underline;
}

div {
    /* display: gray; */
    margin: 5px auto;
    color: blue;
}

.column-headers {
    font-size: 50px;
    text-align: center;
}

/* th {

    font-size: 50px;
} */

.card {
    box-shadow: 4px 8px 4px 8px;
    border-radius: 10px;
}



.container {
    display: grid;
    align-content: center;
    row-gap: 0;
    column-gap: 10px;
    /* grid-template-columns: auto auto; */
    /* padding: 2px 15px; */
    /* grid-template-columns: [outer-start] 1fr [inner-start] 1fr [inner-end] 1fr [outer-end]; */
}

/* button {
    border: none;
    border-radius: 1px;
    font-size: 25px;
} */

.word {
    background-color: lightblue;
    color: rgb(129, 76, 76);
    width: 125px;
    height: 125px;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    padding-top: 38%;

}

.word:hover {
    background-color: #fff;
    color: beige;
    transition-delay: 0.25s;

}

/* styles for game functionality*/

.clicked {
    opacity: 0.5;
}

.row-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.row-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.row-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.row-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}

.row-5 {
  grid-column-start: 5;
  grid-column-end: 5;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}