body {
    background-color: 388087;
}
div {
    display: gray;
    margin: 5px auto;
    color: blue;
}

header h1 {
    font-style: bold;
    font-size: 75px;
    text-decoration: underline;
}

th {

    font-size: 50px;
}

.card {
    box-shadow: 4px 8px;
    border-radius: 10px;
}

.container {
    padding: 2px 15px;
}

/* button {
    border: none;
    border-radius: 1px;
    font-size: 25px;
} */

.word {
    background-color: lightblue;
    color: rgb(129, 76, 76);
    width: 75px;
    height: 75px;
    font-size: 30px;
    border-radius: 5px;
}

.word:hover {
    background-color: #fff;
    color: beige;
    transition-delay: 0.25s;
}

/* styles for game functionality*/

.clicked {
    opacity: 0.5;
  }